<template>
    <panel-item :field="field">
        <template slot="value" v-if="field.value">
            <button @click.prevent="view = !view" class="form-file-btn btn btn-default btn-primary select-none">View</button>
            <div v-if="view" class="fixed pin-l pin-t w-screen h-screen z-20 bg-white">
                <button class="fixed z-30 pin-t pin-r m-4 w-6 h-6 rounded border border-gray-400 text-gray-800" @click.prevent="view = false">𝕏</button>
                <div class="my-2 mx-auto relative block w-full" style="max-width: 768px">
                    <DxmlContent :html="field.value" />
                </div>
            </div>
        </template>
    </panel-item>
</template>

<script>
import DxmlContent from 'dxml-editor/src/content'
export default {
    props: ['resource', 'resourceName', 'resourceId', 'field'],
    components: { DxmlContent },
    data() {
        return {
            view: false
        }
    }
}
</script>
