<template>
    <default-field :field="field" :errors="errors">
        <template slot="field">
            <button v-if="!edit" class="form-file-btn btn btn-default btn-primary select-none" @click.prevent="edit = true">Edit</button>
            <div v-else @click.prevent class="fixed z-20 bg-white p-2" style="top:0; left:0; width: 100%; height: 100%; overflow: auto">
                <div class="mx-auto relative block" style="max-width: 768px">
                    <DxmlEditor :content="value" @contentSave="handleChange" @close="edit = false" />
                </div>
            </div>
        </template>
    </default-field>
</template>

<script>
import { FormField, HandlesValidationErrors } from 'laravel-nova'
import DxmlEditor from 'dxml-editor/src/editor'

export default {
    mixins: [FormField, HandlesValidationErrors],

    props: ['resourceName', 'resourceId', 'field'],

    components: { DxmlEditor },
    data() {
        return {
            edit: false
        }
    },

    created() {
        console.log('hidden', this.field.hidden)
        if (Array.isArray(this.field.hidden)) {
            this.$dxmlComponents.forEach(comp => {
                if (this.field.hidden.indexOf(comp.name) > -1) {
                    comp.hide = true
                } else comp.hide = false
            })
        }
    },

    methods: {
        /*
         * Set the initial, internal value for the field.
         */
        setInitialValue() {
            this.value = this.field.value || ''
        },

        /**
         * Fill the given FormData object with the field's internal value.
         */
        fill(formData) {
            formData.append(this.field.attribute, this.value || '')
        },

        /**
         * Update the field's internal value.
         */
        handleChange(value) {
            this.value = value
            this.edit = false
        },
    },
}
</script>
